<h3>Welcome {{name}}, you have {{points}} karma points left</h3>
<h3>Step 1: </h3>
<p>You come upon an old town out west and your horse is tired. You meet a townsperson of who doesn't seem to happy to see you. In fact, he's rather rude, and starts interrogating you about where you are are from. Normally, you'd have the time to indulge his questioning, but you're on a mission of your own, to catch a robber baron who has passed through this way. You need to get this person to leave you alone.</p>

<p>Do you tell him about your mission and chasing the convict? <br>
  Or do you brush him off with some basic excuse and say you're just passing through, admiring the scenery?</p>

  <button (click)="optionOne()" class="btn btn-info">Tell him your story</button>
  <br><br>
  <button (click)="optionTwo()" class="btn btn-success">Just passing through, leave me alone</button>
